.article-summary {
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    
    section {
        width: 50%;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
        flex-direction: column;
    }
    
    &__thumbnail {width: 50%;}
    &__description {
        color: gray;
        font-style: italic;
    }
}

@media screen and (max-width: 992px) {
    .article-summary {
        flex-direction: column;
        
        &__thumbnail {width: 100%;}
    }
}