.header {
    justify-content: space-between; 
    align-items: center;
    font-weight: bold;
    // position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 1;

    &__logo {
        font-family: fantasy;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    &__nav {
        list-style: none;

        /* styles for links in header */
        li
        {
            margin: 10px;
            text-decoration: none; 

            &:hover {
                color: blue;
                cursor: pointer;
            }
        }
    }
}